* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
nav{
  height: 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-img img{
  width: 82.02px;
  height: 25.35px;
  margin: 22px 0px 0px 30px;
}